# A/B Hypothesis Testing

In [1]:
# Import Dataset and useful libraries 
import os 
import pandas as pd 
os.chdir('../scripts/')
import utils as util 


data_path = "../Data/dataset.csv"
data_dict = util.read_csv_file(data_path)
df = data_dict.get('data')
df.head()

c:\Users\Administrator\Documents\Projects\Tech company\TenX\projects\AlphaCare_Insurance_ML\scripts\utils.py:5: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

lets select column `NewVehicle` as feature to test

In [6]:
df['NewVehicle'].value_counts()

More than 6 months    845223
Less than 6 months      1580
Name: NewVehicle, dtype: int64

This section of the code is responsible for selecting the key performance indicator (KPI) for the A/B hypothesis testing. 
The KPI chosen here is 'TotalPremium', which represents the total premium amount associated with the insurance policies. 
Following this, the data is segmented into two groups based on the 'NewVehicle' feature: 
'More than 6 months' serves as the control group (group_a), while 'Less than 6 months' serves as the test group (group_b). 
The means of the 'TotalPremium' for both groups are calculated to ensure that they are statistically equivalent on this key attribute, 
which is crucial for the validity of the hypothesis test that follows.

In [8]:
# Select Metrics
kpi = 'TotalPremium'  # Key Performance Indicator

> Data Segmentation

In [9]:
# lets assume 'NewVehicle' is the feature being tested
group_a = df[df['NewVehicle'] == 'More than 6 months']  # Control Group
group_b = df[df['NewVehicle'] == 'Less than 6 months']  # Test Group

In [10]:
# Ensure groups are statistically equivalent on key attributes
# For example, we can check the mean of 'TotalPremium' for both groups
mean_a = group_a[kpi].mean()
mean_b = group_b[kpi].mean()

# Print means for comparison
print(f"Mean TotalPremium for Control Group: {mean_a}")
print(f"Mean TotalPremium for Test Group: {mean_b}")

Mean TotalPremium for Control Group: 67.23486952931864
Mean TotalPremium for Test Group: 94.09809107895022

> Statistical Testing

In [11]:
from scipy import stats

# Conduct a t-test to compare the means of the two groups
t_stat, p_value = stats.ttest_ind(group_a[kpi].dropna(), group_b[kpi].dropna())

# Analyze the p-value
if p_value < 0.05:
    result = "Reject the null hypothesis: The feature has a statistically significant effect on the KPI."
else:
    result = "Fail to reject the null hypothesis: The feature does not have a significant impact on the KPI."

# Print the results
print(f"T-statistic: {t_stat}, P-value: {p_value}")
print(result)

# Analyze and Report
# Document findings
findings = {
    'Control Group Mean': mean_a,
    'Test Group Mean': mean_b,
    'T-statistic': t_stat,
    'P-value': p_value,
    'Conclusion': result
}

# Print findings
for key, value in findings.items():
    print(f"{key}: {value}")

T-statistic: -4.346149798175422, P-value: 1.3856408036342328e-05
Reject the null hypothesis: The feature has a statistically significant effect on the KPI.
Control Group Mean: 67.23486952931864
Test Group Mean: 94.09809107895022
T-statistic: -4.346149798175422
P-value: 1.3856408036342328e-05
Conclusion: Reject the null hypothesis: The feature has a statistically significant effect on the KPI.